@import "tailwindcss";

@source "./**/*.{ts,tsx}";

@theme {
  --color-twitch: #9146ff;
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);

  --breakpoint-tiny: 340px;
  --breakpoint-mobile: 400px;
  --breakpoint-normal: 470px;

  --text-base: 10px;
  --text-tiny: 12px;
  --text-mobile: 14px;
  --text-normal: 16px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
