.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  max-width: 32rem;
  margin: 0;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.purple {
  color: #9146ff;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.field {
  max-width: 100%;
  width: 20rem;
  border-radius: 8px;
  position: relative;
  transition: 0.3s all;
  font-size: 1.5rem;
  padding: 0.9rem 1rem;
  outline: none;
  background-color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: #9146ff;
}

.field::placeholder {
  color: #888;
}

.button {
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  margin-top: 0.2rem;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.userImage {
  border-radius: 5px;
}

.userTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  margin-right: 0.5rem;
}

.podcastIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.errorText {
  font-size: 1.2rem;
  color: #eb3445;
  text-align: center;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-height: 11rem;
}

.line {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.copiedText {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.qualityContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.qualityContainer > label > input[type='radio'] {
  display: none;
}

.qualityContainer > label > input[type='radio'] + *::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

.qualityContainer > label > input[type='radio']:checked + *::before {
  background: radial-gradient(#9146ff 0%, #9146ff 40%, transparent 50%, transparent);
  border-color: #9146ff;
}

.qualityContainer > label > input[type='radio']:checked + * {
  color: #9146ff;
}
